.contact-editor {
    width: 100%;
	padding: 20px;

    outline: 1px solid #cba6f7;

    &__label {
        font-weight: 500;
        font-size: 20px;
        margin-bottom : 5px;

        &:first-child {
            margin-top: 0;
        }
    }

	&__input {
        display: block;
        margin-bottom: 10px;
		outline: 1px solid #cba6f7;
		color: #cba6f7;
		background-color: #0a000c;

		padding: 10px;
        width: 100%;

		&:hover {
			background-color: #1f1626;
		}

		&::placeholder {
			color: #cba6f7;
		}
	}

	&__button {
        font-weight: 500;
        font-size: 16px;

        margin-top: 10px;

		outline: 1px solid #cba6f7;
		color: #cba6f7;
		background-color: #0a000c;

		padding: 10px;
        width: 25%;

		&:hover {
			background-color: #1f1626;
		}
	}
}
